<div data-v-4e625bcc="" data-v-22d0ebb1="" class="container-fluid m-auto min-h-screen h-full pb-8 pt-24 flex justify-center px-4 bg-blue-darkest">
   <form data-v-4e625bcc="" class="w-full max-w-md mt-2">
      <h1 data-v-4e625bcc="" class="block sm:flex items-center text-white">
         Get in touch with me 
         <p data-v-4e625bcc="" class="text-sm mt-2 mt-0 sm:ml-6">
            No recruiters, please.
         </p>
      </h1>
      <div data-v-4e625bcc="" class="flex flex-wrap -mx-3 mt-8">
         <div data-v-4e625bcc="" class="w-full px-3"><label data-v-4e625bcc="" for="full-name" class="block uppercase tracking-wide text-xs font-bold mb-2 text-white">
            Full Name
            </label> <input data-v-4e625bcc="" id="full-name" placeholder="Jane Doe" type="text" class="appearance-none focus:shadow-lg block w-full text-grey-darker border border-grey rounded p-4 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey-darker shadow-md border-grey">
         </div>
         <div data-v-4e625bcc="" class="w-full mt-8 px-3"><label data-v-4e625bcc="" for="email" class="block uppercase focus:shadow-lg tracking-wide text-xs font-bold mb-2 text-white">
            Email Address
            </label> <input data-v-4e625bcc="" id="email" placeholder="jane.doe@example.com" type="email" class="appearance-none focus:shadow-lg block w-full text-grey-darker border border-grey rounded p-4 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey-darker shadow-md border-grey">
         </div>
         <div data-v-4e625bcc="" class="w-full mt-8 px-3">
            <label data-v-4e625bcc="" class="block uppercase tracking-wide text-xs font-bold mb-2 text-white">
            What's this about?
            </label> 
            <p data-v-f16a3898="" data-v-4e625bcc="" class="app-button sm:w-auto font-bold py-2 px-4 rounded shadow-md focus:shadow-lg focus:outline-none enquiry-option mr-2 w-full block sm:w-auto sm:inline-block cursor-pointer my-2 bg-transparent font-semibold focus:outline-none focus:shadow-lg shadow-md hover:shadow-lg py-2 px-4 border rounded text-blue-darkest bg-white hover:bg-grey-light hover:shadow-lg" tabindex="0">
               General Enquiry
            </p>
            <p data-v-f16a3898="" data-v-4e625bcc="" class="app-button sm:w-auto font-bold py-2 px-4 rounded shadow-md focus:shadow-lg focus:outline-none enquiry-option mr-2 w-full block sm:w-auto sm:inline-block cursor-pointer my-2 bg-transparent font-semibold focus:outline-none focus:shadow-lg shadow-md hover:shadow-lg py-2 px-4 border rounded text-white hover:text-blue-darkest hover:bg-grey-light hover:shadow-lg" tabindex="0">
               Web Development
            </p>
            <p data-v-f16a3898="" data-v-4e625bcc="" class="app-button sm:w-auto font-bold py-2 px-4 rounded shadow-md focus:shadow-lg focus:outline-none enquiry-option mr-2 w-full block sm:w-auto sm:inline-block cursor-pointer my-2 bg-transparent font-semibold focus:outline-none focus:shadow-lg shadow-md hover:shadow-lg py-2 px-4 border rounded text-white hover:text-blue-darkest hover:bg-grey-light hover:shadow-lg" tabindex="0">
               Freelancing
            </p>
            <p data-v-f16a3898="" data-v-4e625bcc="" class="app-button sm:w-auto font-bold py-2 px-4 rounded shadow-md focus:shadow-lg focus:outline-none enquiry-option mr-2 w-full block sm:w-auto sm:inline-block cursor-pointer my-2 bg-transparent font-semibold focus:outline-none focus:shadow-lg shadow-md hover:shadow-lg py-2 px-4 border rounded text-white hover:text-blue-darkest hover:bg-grey-light hover:shadow-lg" tabindex="0">
               Full-Time
            </p>
         </div>
         <div data-v-4e625bcc="" class="w-full mt-6 px-3"><label data-v-4e625bcc="" for="more-details" class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 text-white">
            Anything else to add?</label> <textarea data-v-4e625bcc="" id="more-details" placeholder="Some very important information" class="appearance-none block w-full h-32 text-grey-darker border rounded p-4 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey-darker focus:shadow-lg shadow-md resize-none border-white"></textarea>
         </div>
         <div data-v-4e625bcc="" class="w-full px-3">
            <button data-v-f16a3898="" data-v-4e625bcc="" class="app-button sm:w-auto font-bold py-2 px-4 rounded shadow-md focus:shadow-lg focus:outline-none mt-8 text-blue-darkest bg-white hover:bg-grey-light hover:shadow-lg">Get in touch</button> <!----> <!----> <!----> <!---->
         </div>
      </div>
   </form>
</div>